@use "base/variables" as v;
@use "base/mixins" as m;
@use 'sass:color';

.citas, .servicios{
    list-style: none;
    padding: 0;
    li{
        @include m.glass-effect(v.$glass-bg, v.$glass-border, v.$glass-shadow);
        &{
            padding: 1rem;
            border-radius: 8px;
            margin-bottom: 2rem;
            @include m.tablet {
                padding: 1rem 4rem;
            }
        }
        p{
            font-weight: v.$regular;
            color: v.$dorado;
            font-size: 1.6rem;
            @include m.tablet {
                font-size: 2rem;
            }
        }
        span{
            color: v.$negro;
        }
        .servicio{
            font-weight: v.$regular;
            color: v.$negro;
        }
    }
}
// Sección oculta o mostrada
.seccion {
    padding: 0;
    display: none;
    .text-center {
        text-align: center;
        text-transform: uppercase;
        font-size: 2rem;
    }
}

.encabezado{
    color: color.adjust(v.$dorado, $lightness: -5%);
    // text-shadow: 0 2px 2px rgb(218, 165, 32);
}

.titulo-seccion {
  // Centrado total del contenedor
  display: flex;
  align-items: center;       // Centra verticalmente
  justify-content: center;   // Centra horizontalmente
  gap: 1rem;

  // Apariencia
  width: 100%;
  height: 6rem;
  font-family: v.$fuente_principal;
  font-weight: v.$bold;
  font-size: 1.5rem;
  color: v.$dorado;

  // Efecto de fondo tipo "glass"

  // Posicionamiento (opcional: si querés que quede fijo arriba)
  position: fixed;
  top: 0;
  left: 0;
  z-index: 120;

  // Imagen
  img {
    width: 2rem;
    height: 2rem;
  }

  // Texto
  p {
    color: v.$gris-claro;
    margin: 0; // ✅ eliminamos el margin-top
    line-height: 1; // opcional: mejora alineación
  }
    @include m.glass-effect(v.$glass-bg-dark, v.$glass-border, v.$glass-shadow);
    &{
        box-shadow: 0 8px 32px rgba(0, 0, 0, .2);
    }
}


.mostrar {
    button {
        margin: 1rem auto;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50%;
        padding: 2rem;
        background-color: rgba(218, 165, 32, 0.6);
        color: v.$blanco;
        border: 2px solid rgba(218, 165, 32, 1);
        border-radius: 8px;
        font-weight: v.$black;
        transition: background-color 0.2s, transform 0.1s;
        &:hover {
            cursor: pointer;
            background-color: color.adjust(v.$dorado, $lightness: -10%);
            transform: scale(1.02);
        }
        &:active {
            transform: scale(0.98);
        }
        img {
            margin-right: 1rem;
            width: 2rem;
            height: 2rem;
        }
    }
    display: block;
}

.ocultar {
    display: none;
}

.contenido-resumen{
    .boton{
        margin: 3rem auto;
    }
}

